/* .contenedor {
    display: inline-block;
    margin: 20px;
    background-color: black;
    margin: auto;
    border-radius: 29px;
}

.maincontainer {
    position: relative;
    width: 250px;
    height: 320px;
    display: inline-block;
    margin: 20px;
    margin-left: 20px;
    border-radius: 40px;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 20px;
    margin: auto;
    margin-left: 50px;
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: red;
    color: #333;
    border-radius: 20px;
}

.thefront img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color: #333;
    transform: rotateY(180deg);
    border-radius: 20px;
}

.theback img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.thecard:active {
    transform: rotateY(180deg);
} */

.voltear {
    transform: rotateY(180deg);
}

.contenedor {
    height: 80vh;
    background-color: #ff3434;
    display: flex;
}

.gameContainer {
    width: 600px;
    height: 600px;
    margin: auto;
    display: inline-block;
    perspective: 800px;
    background-color: black;
}

.memoryCard {
    width: 83%;
    height: 23%;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    cursor: pointer;
}

.memoryCard:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.memoryCard.flip {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front,
.back {
    background-color: #ff5252;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}