<app-cabecera> </app-cabecera>


<div class="jumbotron jumbotran">
    <a routerLink="/Juegos" class="solapa">
        <div class="media">
            <div class="media-left">
                <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu media-image">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los
                    docentes utilizando el juego.</p>
            </div>
        </div>
    </a>
    <a routerLink="/Listado" class="solapa">
        <div class="media">
            <img class="align-self-center mr-3 media-image" src="../../../assets/imagenes/listado.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Listados de resultados</h5>
                <p>Los listados de los resultados con ordenamiento y busqueda.</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </a>
    <a routerLink="/Juegos" class="solapa">
        <div class="media">
            <img class="align-self-center mr-3 media-image" src="../../../assets/imagenes/Configuracion.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Configuraci&oacute;n</h5>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </a>
</div>