.media {
    border: 1px solid #BFDD99;
    margin: 1rem 2rem;
    padding: 0.1rem;
    border-radius: 2rem;
    background-color: #BFDD99;
}

.media-image {
    width: 100px;
    height: 100px;
    margin: 0.5em;
}

.solapa {
    text-decoration: none;
    color: white;
}

a.solapa :hover {
    background-color: #28A745;
    border-radius: 15px;
}

.jumbotran {
    margin: 0% 5%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.102);
    color: #fff;
    border-radius: 15px;
}