<div class="card-deck" style="margin: 1% 5%;">
    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/pokemon.png" style="border-radius: 50%;margin-top: 3%;" alt="Card image cap" >
        <div class="card-body">
            <h5 class="card-title">Juego para Desarrollar</h5>
            <p class="card-text">Batalla Pokemon</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('Pokemon')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/cerebro.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Velocidad y agilidad aritmética </h5>
            <p class="card-text">Juego de agilidad mental</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('Agilidad')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/ppt2.PNG" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Piedra Papel o Tijera</h5>
            <p class="card-text">Juega contra la máquina</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('PPT')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/adivina.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Adivina el número secreto</h5>
            <p class="card-text">Juego de estrategia</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('Adivina')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/tateti.png" alt="Card image cap" style="border-radius: 50%;margin-top: 3%;">
        <div class="card-body">
            <h5 class="card-title">Tateti</h5>
            <p class="card-text">Tateti</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('Tateti')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/anagrama.png" alt="Card image cap" style="border-radius: 50%;margin-top: 3%;">
        <div class="card-body">
            <h5 class="card-title">Anagrama</h5>
            <p class="card-text">Juego de estrategia</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('Anagrama')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/memoriza.PNG" alt="Card image cap" >
        <div class="card-body">
            <h5 class="card-title">Memotest</h5>
            <p class="card-text">Encontra el par de cada carta</p>
        </div>
        <button class="btn button bounce animated" (click)="Juego('Mijuego')">Jugar  <i class="fas fa-gamepad"></i></button>
    </div>
</div>