<div class="card-deck" style="margin: 1% 5%;">

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/cerebro.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Velocidad y agilidad aritmética </h5>
            <p class="card-text">Juego de agilidad mental</p>
        </div>
        <button class="btn btn-success button bounce animated" (click)="Juego('Agilidad')">Jugar  <i class="fas fa-gamepad"></i></button>
        <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/ppt2.PNG" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Piedra Papel o Tijera</h5>
            <p class="card-text">Juega contra la máquina</p>
        </div>
        <button class="btn btn-success button bounce animated" (click)="Juego('PPT')">Jugar  <i class="fas fa-gamepad"></i></button>
        <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/adivina.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Adivina el número secreto</h5>
            <p class="card-text">Juego de estrategia</p>
        </div>
        <button class="btn btn-success button bounce animated" (click)="Juego('Adivina')">Jugar  <i class="fas fa-gamepad"></i></button>
        <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../../assets/imagenes/memoriza.PNG" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Juego para Desarrollar</h5>
            <p class="card-text">Encontra el par de cada carta</p>
        </div>
        <button class="btn btn-success button bounce animated" (click)="Juego('Mijuego')">Jugar  <i class="fas fa-gamepad"></i></button>
        <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
    </div>
</div>