nav{
    font-size: 1.5rem;
    font-family: 'Play', sans-serif !important;
    background-color: #4579e2!important;
}

a {
    color:white;
}
.btn-success:hover{
    background-color: white;
    color: #2d55aa;
    border:1px solid #2d55aa;
}

.btn-success{
    background-color: #2d55aa;
    color: white;
    border:1px solid #2d55aa;
}

.btn-outline-success{
    background-color: transparent;
    color: white;
    border:1px solid #2d55aa;
}

.btn-outline-success:hover{
    background-color: #2d55aa;
    color: white;
    border:1px solid #2d55aa;
}

.navbar-collapse{
    color:white;
}

.navbar-toggler-icon{
    color:white;
}