.black {
    background-color: black;
    margin-bottom: 1rem;
}

.contenedor {
    text-align: center;
    margin: auto;
    display: table;
}

h1 {
    float: left;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background-color: #C0DE9A;
    border-left: 1.5px solid #000;
    animation: maquina 4s infinite alternate steps(17);
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}