

.black {
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 1rem;
}

.contenedor {
    text-align: center;
    margin: auto;
    display: table;
}

h1 {
    margin-top: 2%;
    float: left;
    position: relative;
    color:white;
}

h3{
    color:white;
}

h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background-color: #234;
    border-left: 1.5px solid #000;
    animation: maquina 4s infinite alternate steps(16);
    z-index: 1;
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
